/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24/07/2014, 1:21:06 PM
    Author     : Mattias Lindgren
*/

.summary {
	float: left;
	width: 33%;
	border: 1px solid red;
}
